 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }



 .nav{
   height: 50px;
   background-color: black;
   display: flex;
   justify-content: space-between;
 }

 .nav h1{
   color: red;
 }

 .right{
   margin-top: 10px;
   margin-right: 5px;
 }

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: grey;
}


.scritte  h1{
  color:white;
  margin-top: 40px;
  margin-bottom: 50px;
}

.scritte li{
  list-style-type: none;
}

.box2{
  display: flex;
  position: relative;
}

.scritte{
  position: absolute;
  color: white;
  z-index: 10;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s linear;
}


.box2:hover .copertina{
  opacity: 0.4;

}

.fa-star{
  color: yellow;
}
